html
    head
        title Neodug - Tools for Neocities users
        link(rel="stylesheet" href="/css/_main.css")
    body
        header
            h1 Neodug
        main
            block main
        footer
            p.copyright &copy; 2025 Dug Alcedo